<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <title>Admin Dashboard</title>
     <link rel="stylesheet" href="~/Content/AdminStyle.css">
</head>
<body>
     <div class="sidebar">
          <a href="@Url.Action("Home", "Home")">Home</a>
          <a href="@Url.Action("AdminProfile","Admin")">Profil</a>
          <a href="@Url.Action("Products", "Admin")">Produse</a>
          <a href="@Url.Action("Users", "Admin")">Useri</a>
          <a href="@Url.Action("News", "Admin")">Noutati</a>
          <a href="@Url.Action("Logout", "Login")">Logout</a>
     </div>

     <div class="main-content">
          @RenderBody()
     </div>
</body>
</html>



<style>
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #d42e6d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 16px;
    transition: 0.3s ease;
}

.sidebar a:hover {
    background-color: white;
    color: #d42e6d;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}
</style>
