﻿
@{
    ViewBag.Title = "Admin";
}
@using WebApplication4.Domain.Entities
@model IEnumerable<DBProductTable>

<style>
     body {
          font-family: 'Montserrat', sans-serif;
          background-color: #f9f9f9;
          margin: 0;
          padding: 0;
     }


     h2 {
          text-align: center;
          margin: 20px auto;
          color: #333;
     }

     table {
          width: 90%;
          margin: 20px auto;
          border-collapse: collapse;
          background-color: white;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
     }

          table th, table td {
               text-align: center;
               padding: 15px;
               border-bottom: 1px solid #ddd;
          }

          table th {
               background-color: #d42e6d;
               color: white;
               font-size: 16px;
               text-transform: uppercase;
          }

          table td {
               font-size: 14px;
               color: #333;
          }

          table tr:hover {
               background-color: #f2f2f2;
          }


     .button1 {
          border: 2px solid #d42e6d;
          color: white;
          background-color: #d42e6d;
          padding: 8px 15px;
          font-size: 14px;
          cursor: pointer;
          border-radius: 5px;
          transition: 0.3s ease;
          text-align: center;
          text-decoration: none;
          display: inline-block;
     }

          .button1:hover {
               background-color: white;
               color: #d42e6d;
          }


     table th, table td {
          font-size: 12px;
          padding: 10px;
     }

     h2 {
          font-size: 18px;
     }
     .contact-form form {
          margin: 20px auto;
          width: 90%;
          background-color: white;
          padding: 20px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          display: flex;
     }

     .contact-form .group-section {
          text-align:center;
          
     }
</style>


<div>
<h2>Administrare Produse</h2>
</div>



<div class="contact-form">
     <form action="@Url.Action("AddProduct", "Admin")" method="post" enctype="multipart/form-data">
          <div class="form-section">
               <label>Nume Produs:</label>
               <input type="text" name="Name" required />
          </div>

          <div class="form-section">
               <label>Preț:</label>
               <input type="number" name="Price" required />
          </div>
          <div class="form-section">
               <label>Descrire:</label>
               <input type="text" name="Description" required />
          </div>

          <div class="form-section">
               <label>Imagine:</label>
               <input type="file" name="ImageFile" required />
          </div>

          <div class="form-section">
               <select name="Category" required>
                    @foreach (var category in ViewBag.Categories)
                    {
                         <option value="@category">@category</option>
                    }
               </select>
          </div>

          <div class="form-section">
               <select name="Brand" required>
                    @foreach (var brand in ViewBag.Brand)
                    {
                         <option value="@brand">@brand</option>
                    }
               </select>
          </div>

          <div class="form-section">
               <select name="Country" required>
                    @foreach (var country in ViewBag.Country)
                    {
                         <option value="@country">@country</option>
                    }
               </select>
          </div>

          <div class="form-section">
               <select name="SpecialCategory" required>
                    @foreach (var specialCategory in ViewBag.SpecialCategory)
                    {
                         <option value="@specialCategory">@specialCategory</option>
                    }
               </select>
          </div>


          <button class="button1" type="submit">Adaugă Produs</button>

     </form>
</div>


<div>
<table>
    <tr>
        <th>Produs</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name - @product.Price MDL - @product.Brand - @product.Category - @product.Country - @product.SpecialCategory </td>
            <td>
                <form action="@Url.Action("DeleteProduct", "Admin")" method="post">
                    <input type="hidden" name="id" value="@product.Id" />
                    <button class="button1" type="submit">Șterge</button>
                </form>
            </td>
        </tr>
    }
</table>
</div> 


<a class="button1" href="@Url.Action("Logout", "Login")">Logout</a>